:root {
    --main-color: #6bb0ff; 
    --sec-color: #113f94;
    --base-color: #f4faff;
    --base-color2: #ffffff;
    --accent-color: #b33771;
    --accent-color2: #d60969;
}
.alert {
    position: absolute;
    z-index: 1001;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
   color: var(--sec-color);
}
h2 {
    font-family: 'Montserrat', sans-serif;
   color: var(--sec-color);
   font-size: 50px;
}
body {
    background-color: var(--base-color);
}
.tc-main {
    color: var(--main-color)
}
.tc-sec {
    color: var(--sec-color)
}
.tc-base {
    color: var(--base-color)
}
.tc-accent {
    color: var(--accent-color)
}
.tc-accent2 {
    color: var(--accent-color2)
}

.border-5{
    padding: 8px;
}
.bg-main {
    background-color: var(--main-color)
}

.nav-pills .nav-link.active {
    background-color: var(--sec-color);
    letter-spacing: 1px;
}

.nav-link {
    letter-spacing: 1px;
}

.bg-base {
    background-color: var(--base-color)
}
a {
    color: var(--sec-color);
    font-family: 'Yantramanav', sans-serif;
    text-decoration: none;
}
.btn {
    box-shadow: none !important;
}

.carousel-control-next{
    color: var(--accent-color2) !important;
    font-size: 30px;
    top: auto;
    bottom: auto;
}

.carousel-control-prev{
    color: var(--accent-color2) !important;
    font-size: 30px;
    top: auto;
    bottom: auto;
}

.flag-it{
    background-image: url(/img/flag/italy_flags_flag_17018.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.flag-en{
    background-image: url(/img/flag/united_kingdom_flags_flag_17079.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.flag-es{
    background-image: url(/img/flag/spain_flags_flag_17068.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.dropdown-item:hover{
    background-color: transparent !important;
}
.dropdown-item:focus{
    background-color: transparent !important;
}

/* NAVBAR */
.navbar {
    background-color:transparent;
    display: block;
    align-items: center;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    border-bottom: 0.5px solid var(--main-color) !important;
    transition: all 0.5s ease-in-out;
}
.navbar-active {
    background-color: var(--base-color2);

}
/* .navbar-collapse { */
    /* background-color: var(--base-color2) !important; */

/* } */

.filtericon2 {
    width: 100vh;
    margin-left: -180px;
    opacity: 40%;
    margin-right: -160px;
}

.navbarBrand {
    font-family: 'Shrikhand', cursive !important;
    font-size: 30px;
    color: var(--main-color) !important;
    margin-right: 0px;
    margin-left:4px;
    background-color: transparent;
    display: block;
    align-items: center;
    text-decoration: none;
    
    
} 
.icon-logo {
    color: var(--accent-color) !important;
    font-size: 30px; 
    margin-left: 0px;
}
.menu-collapse {
    color: var(--accent-color) !important;
}
.btn-menu:focus {
    box-shadow: none !important;
}
#icon-menu {
    transition: all 0.5s ease;
}
.rotate {
    transform: rotate(90deg)
}

.dropdown-menu{
    background-color: transparent;
    border: 0px solid  !important;
}
.btn-custom {
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    background-color: var(--accent-color);
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    
}
.btn-custom:hover {
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    background-color: var(--sec-color);
    border-color: var(--sec-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--base-color);
}
.btn-custom2 {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    
}
.btn-custom2:hover {
    background-color: transparent !important;
    border-color: var(--sec-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    color: var(--sec-color);
}
.btn-custom3 {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 4px;
}
.btn-custom3:hover {
    background-color: transparent !important;
    border-color: var(--sec-color) !important;
    border: 2px solid ;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 4px;
}
.btn-custom4 {
    width: 100px !important;
    height: 100% !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 30px;
    background-color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    color: var(--base-color);
    
   
}
.btn-custom4:hover {
    width: 100px !important;
    height: 100% !important;
    border-color: var(--sec-color) !important;
    border: 2px solid ;
    border-radius: 30px;
    background-color: var(--sec-color);
    text-decoration: none;
    font-weight: 500;
    color: var(--base-color);
    
   
}
.btn-custom5 {
    width: 100px !important;
    height: 100% !important;
    border-color: var(--sec-color) !important;
    border: 2px solid ;
    border-radius: 30px;
    background-color: var(--sec-color)!important;
    text-decoration: none;
    font-weight: 500;
    color: var(--base-color);
    
   
}
.btn-custom5:hover {
    width: 100px !important;
    height: 100% !important;
    border-color: var(--accent-color) !important;
    /* border: 2px solid ; */
    border-radius: 30px;
    background-color: var(--accent-color) !important;
    text-decoration: none;
    font-weight: 500;
    color: var(--base-color);
    
   
}
.word-wrap{
    word-wrap: break-word;
}
.nav-li-cust {
    color: var(--base-color)!important
}
.cerca-custom {
    border-radius:10px;
    background-color: rgba(205, 207, 207, 0.096);
}
.cerca-custom:focus {
    box-shadow: none;
}
/* NAVBAR  */

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/rabbit-home.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }


.border-home {
      border-bottom: 2px solid var(--main-color);
      border-bottom-right-radius: 45px;
      font-size: 100px;
      
  }
.btn-arrow {
    background-color: transparent;
    color: var(--main-color)!important;
    font-size: 55px;
    transform: rotate(135deg);
    border: none;
    display: flex;
    position: relative;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    animation-name: arrow-wgg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.slick-next:before {
    content: ".";
    font-size: 200px;
    background-image: url('/img/arrow/arrow-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
   
}
.slick-prev:before {
    content: ".";
    font-size: 200px;
    background-image: url('/img/arrow/arrow-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    
}
/* create */
.my-select {
    background-color: light-brown;
    color: dark-grey;
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
  }
/* fine create */

@keyframes arrow-wgg {
    0% {left:0px; top:-35px}
    25% {left:0px; top:-60px}
    50% {left:0px; top:-45px}
    75% {left:0px; top:-60px}
   
    100% {left:0px; top:-35px}
}


.card-custom {
        /* position: absolute;
        margin-top: -250px; */
       border-radius: 25px;
       border: solid var(--main-color) ;
       text-align: center;
       height:auto;
       width: 250px;
       /* z-index: 999; */
   }
.card-custom-trash {
        /* position: absolute;
        margin-top: -250px; */
       border-radius: 25px;
       border: solid var(--main-color) ;
       text-align: center;
       height:auto;
       /* width: 250px; */
       /* z-index: 999; */
   }
.card-custom-carousel {
        /* position: absolute;
        margin-top: -250px; */
       border-radius: 25px;
       border: solid var(--main-color) ;
       text-align: center;
       height:401px;
       width: 300px;
   }
.card-carrot {
       z-index: -1;
       position: absolute;
       bottom: -20px;
       right: 25px;
       font-size: 200px;
       color: var(--main-color);
       transform: rotate(-35deg);
      /* height: 30px */
   }
.card-carrot2 {
       z-index: -1;
       position: absolute;
       bottom: -0px;
       right: 25px;
       font-size: 200px;
       color: var(--main-color);
       transform: rotate(-35deg);
      /* height: 30px */
   }
.carrot-bg {
    
    background-image: url('/img/bg-carrot.png');
    background-size: cover;
    background-position: center;
} 


.category-border {
    border-radius:30px;
    border-bottom: 0.5px solid var(--main-color) !important;
}

/* .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: var(--main-color) !important;
} */


.presto-card-overlay {
      background: #6bb0ff7a;
      backdrop-filter: blur(20px);
      transition: all 0.4s ease-in-out;
      color: var(--accent-color2);
      border-radius: 20px;
   }

.presto-card-overlay:hover {
      backdrop-filter: blur(0px);
      background: #6bb0ff7a;
      color: var(--accent-color2);
      border-radius: 20px;
}

.box-3{
    /* background-color: #6bb0ff75; */
    background: rgb(194,222,255);
    background: linear-gradient(90deg, rgba(194,222,255,1) 10%, rgba(107,176,255,1) 50%, rgba(194,222,255,1) 90%);
    border-radius: 50%;
    height: 300px;
    padding-top: 50px;
    
}

.card-car {
       border-radius: 20px;
   }

.car-cont:focus {
    outline: none !important;
}

.p-radius {
        border-radius: 20px;
   }

.btn-car {
       background: var(--accent-color);
       font-size: 15px;
       border: transparent;
       margin-bottom: 20px;
   }


/* footer */


.footer {
    background-color: var(--base-color);
    width:100%;
}
footer a {
    text-decoration: none;
    font-size:15px;
    letter-spacing: 1px;
}

.round-img{
    border-radius: 25px;
}

.border-cstm {
    border: solid 1px var(--main-color);
    border-radius: 25px;
}

.counter{
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: var(--base-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-image: url('/img/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* REVISOR  */
.green {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(40, 167, 40);
}
.red {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(209, 29, 29);
}
.yellows {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(192, 158, 45);
}


@media screen and (max-width: 530px) 
   {.masthead  
     {
     background-position-y: 30%;
     background-position-x: 30%;
     background-size: contain;
     }
    .arrow-align-custom {
     align-items: flex-end !important;
     }
    .card-img-overlay 
    {
     padding: 0px;
     margin: 0px;
     font-size: 13px;
    }
    .card-text-off 
    {
     display: none;
    }
    .card-text-title 
    {
     margin: 0px;
    }
    .card-text-title
    {
     padding: 0px;
     margin-top: 15px;
    }
    }

@media screen and (max-width: 990px) 
   {.card-img 
     {
        height: 160px;
     }
    }

@media screen and (max-width: 770px) 
    {
      .footer-card{
        box-sizing: content-box;
    }
    .filtericon2 {
       display: none;
    }
    }

@media screen and (max-width: 1200px) 
   {.card-text-off 
     {
        display: none;
     }
    .btn-car{
        margin-left: -20px;
        margin-top: 20px;
    }
    }

@media screen and (max-width: 568px)
    {
    .btn-car {
        margin:0px;
        /* margin-top: 15px; 
        margin-left: -30px !important; */
    }
    }

/* media navbar button */
 @media screen and (max-width: 990px)
 {
     .sparisce-sm {
         display: none  !important;
 }
 }
 @media screen and (min-width: 990px)
 {
     .appare-sm {
         display: none  !important;
 }
 
 }
    /* background-origin: padding-box; */
    /* .rabbit {
        width: 500px;
        height: 300px;
        position: relative;
        top: -20px;
    }
    .smP {
        height: 180px;
    }
    
}  */


/* PAGINA ANNUNCI 

/* accordion */
/* .filter-box {
    
    border: 1px solid var(--main-color);
    background-color: hsl(211, 91%, 91%);
    background-image: url(./img/rabbit.svg);
    background-repeat: repeat;
    border-radius: 50px;
}

.filter-icon {
    height: 100px;
    width: 200px;
    opacity: 40%;
    
}

.filter-icon2 {
    height: 450px;
    width: 800px;
    opacity: 40%;
    margin-top: 100px;
    margin-left: -200px;
}

.accordion-custom {
    border: solid hsl(211, 91%, 91%);
}

.accordion-button:focus {
    border: none;
    border-color: none;
    box-shadow: none; 
}  */

/* button like */
/* .pollice {
  font-size: 27px;
  cursor: pointer;
  user-select: none;
  transition: transform  ease-in-out; 
  color: var(--sec-color)!important;
  

  
  
}


.like {
    box-shadow: none !important;
    border: none !important;
    margin-top: 0px;
    /* color: var(--main-color) !important; */
  /* transform: rotate(350deg) scale(1.2); */
  /* transform:scale(1.3) */
/* }
.heart { */
    /* color: var(--sec-color) !important; */
    /* box-shadow: none !important;
    border: none !important;
}
.heart:focus {
    animation-name: heart;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-timing-function: 1;
    /* animation-play-state: ; */
    /* border: none;
    box-shadow: none;
    
} */ 
/* @keyframes heart{
    0%{
        transform: rotate(0deg) ;
    }
    40%{
        transform: rotate(0deg) ;
    }
    41%{
        transform: rotate(360deg) ;
    }
    100%{
        transform: rotate(0deg);
    }
}

.slick-slide:focus {
    outline: none;
}

.accordion-button.collapsed {
    color: var(--sec-color);
}  */

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #67abf849;
}




/* .border-custom{
    border-top: solid 5px var(--main-color) !important;
} */